apscheduler

# rest_service.py: 1
Flask == 1.0.2

# model.py: 7,8,9,10,11,12,13,14,15
Keras == 2.2.4

# model.py: 2
matplotlib == 3.3.0

# model.py: 3
numpy == 1.16.2

# model.py: 4
pandas == 1.1.0

# model.py: 16,17,18
scikit_learn == 0.20.1

# model.py: 5
tensorflow == 2.11.1
